body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

#eas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 25px;
    background-color: red;
    color: white;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    font-size: 50px;
    text-align: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border: 2px solid black;
}

.row {
    background-color: white;
}


button {
    border: none;
    padding: 5px 15px;
    background-color: white;
    border-radius: 20px;
}

button:hover {
    background-color: gray;
}

#lgSqu:focus, #mdSqu:focus, #smSqu:focus {
    background-color: yellow;
}